body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h2 {
  color: white;
  font-size: 30px;
  text-align: center;
}
.signup {
  width: 700px;
  background-color: #f5f5f5;
  display: flex;
  margin: 25px auto 0;
  position: relative;
}
.signup > div {
  width: 50%;
}
.left {
  padding: 45px;
  background-color: white;
}
.form-inner {
  border: 1px solid #eee;
}
.form-group {
  padding: 15px;
}
.form-group:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.form-group label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 10px;
}
.form-group input {
  display: block;
  width: 100%;
  border: 0;
  outline: none;
  font-size: 16px;
  color: #333;
}
.form-group input::-webkit-input-placeholder {
  color: #ccc;
}
.remember {
  text-align: center;
  margin: 25px 0;
}
button {
  display: block;
  padding: 20px;
  color: white;
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  outline: none;
  border: 0;
  border-radius: 2px;
  background-color: #f87253;
  cursor: pointer;
}

